.account {
  width: 100vw;
  height: 100vh;
}

.account__div {
  border: 1px solid #dfe1e6;
  width: 40vw;
  border-radius: 3px;
  padding: 10px;
}

.account__avatar {
  border-radius: 50%;
}

.--userAccount {
  display: flex;
  justify-content: space-between;
  margin: 25px 175px 0;
}

.flexify {
  display: flex;
}

.--general {
  margin: 25px 175px 0 25px;
  flex: 0.8;
  height: 40vh;
}

.--pricing {
  margin: 25px 175px 0 25px;
  flex: 0.8;
  height: 40vh;
}

.--select {
  margin: 25px 0 0 175px;
  flex: 0.2;
  height: 40vh;
}

.--clickable {
  cursor: pointer;
}

.--clickable:hover {
  color: #0052cc;
}
