:root {
  --green: #34a853;
  --green-bg: #fbfbf5;
  --green-hover: #37e9c5;
  --yellow: #fbc034;
  --blue: #4285f4;
  --blue-bg: #fbfdff;
  --blue-hover: #e9f1fe;
  --red: #ea4335;
  --red-bg: #fef9f8;
  --atlassian-blue: #0052cc;
}
.app {
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100vh;

  background: #fff;
}
/* .btn-primary {
  background-color: #0061FE !important;
}

.btn-bitbucket {
  background-color: #0061FE !important;
} */
