.board {
  width: 79vw;
  min-width: 79vw;
  float: right;
  margin: 0 !important;
  padding: 0 !important;

  background: #fff;
}

.--board-chat {
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  border-bottom: none !important;
}


.board__columnsContainer {
  display: flex;
  height: 95vh;
  min-height: 95vh;
  overflow-y: hidden;
  margin-left: 5px;
  /* border: 1px solid red; */
}

.column__container {
  margin: 10px;
  border-radius: 3px;
  background-color: transparent;
  /* border: 1px solid blue; */
  /* border-top: 4px solid var(--yellow); */
}

.column {
  /* padding: 10px; */
  width: 260px;
  /* min-height: 85vh; */
  max-height: auto;
  border-radius: 3px;
  background-color: transparent;
  /* background-color: #fafbfc; */
  text-align: center;
}

.column__header {
  /* margin: 10px 0 0; */
  display: flex;
  /* height: auto; */
  /* border: 1px solid red; */
}

.columnHeader__name {
  flex: 0.5;
}

.columnHeader__button {
  flex: 0.5;
}

.--new-column-btn {
  margin-top: 10px;
  margin-left: 5px;
  /* margin: 10px; */
}

.--create-card-btn {
  float: right;
}