/* .chat {
  width: 78vw;
  float: right;
}

.card-chat {
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.message__container {
  padding-top: 10px;
  height: 85vh;
  overflow-y: scroll;
}

.chatinput__container {
  margin-top: 10px;
  padding: 0 10px 0;
} */


.chat {
  /* width: 78vw; */
  max-width: 78vw;
  min-width: 78vw;
  min-height: 100vh;
  height: 100vh;
  float: right;
  margin: 0 !important;
  padding: 0 !important;
}

.card-chat {
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.message__container {
  padding-top: 10px;
  height: 85vh;
  overflow-y: scroll;
}

.chatinput__container {
  margin-top: 10px;
  padding: 0 10px 0;
}
