.homepage {
    height: 92.4vh;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
}

.homepage__hero {
    /* padding: 210px 25px 0; */
}

.homepage__footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}