/* .settings {
    background-color: #FFF;
    position: absolute;
    right: 0;
    width: 77.5%;
    height: 100vh;
}

.settings__header{
    padding: 25px 25px 0;
}

.settings__body {
    height: 80vh;
    padding: 25px 25px 0;
}

.container {
    margin: 5px 0 0 25px;
    display: flex;
    height: auto;
    left: 0;
    width: 850px;
}

.container > div {
    margin: 5px;
    flex: 0.5;
}

.flexContainer {
    display: flex;
    margin-bottom: 10px;
}

.--border-red {
    border: 2px solid #D73A49;
}

.roomsList__container {
    margin: 10px 0 10px 0;
}

.roomsList {
    border-collapse: collapse;
    width: 100%;
}

.roomsList td, .roomsList th {
    border: 2px solid #DFE1E6;
    padding: 8px;
}

.roomsList tr:hover {background-color: #FAFBFC;}

.roomsList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FAFBFC;
}

.textfield__container {
    width: 600px;
}

.button__container {
    margin: auto 25px 0 10px;
} */

.settings {
    width: 78vw;
    float: right;
    padding: 25px;
}

.--settings-workspace-rename-card {
    margin-top: 10px;
    display: flex;
}

.--settings-workspace-rename-card > div {
    display: flex;
}

.--settings-workspace-rename-card > div > a {
    margin-left: 10px;
}

.--settings-room-list-card {
    margin-top: 10px;
}

.--settings-link-people-card {
    margin-top: 10px;
    display: flex;
}

.--settings-link-people-card > div {
    display: flex;
}

.--settings-link-people-card > div > a {
    margin-left: 10px;
}

.--settings-people-list-card {
    margin-top: 10px;
}