.settings {
    width: 78vw;
    float: right;
    padding: 0 25px 0;
}

.--settings-workspace-rename-card {
    margin-top: 10px;
    display: flex;
}

.--settings-workspace-rename-card > div {
    display: flex;
}

.--settings-workspace-rename-card > div > a {
    margin-left: 10px;
}

.--settings-room-list-card {
    margin-top: 10px;
}

.--settings-link-people-card {
    margin-top: 10px;
    display: flex;
}

.--settings-link-people-card > div {
    display: flex;
}

.--settings-link-people-card > div > a {
    margin-left: 10px;
}

.--settings-people-list-card {
    margin-top: 10px;
}