/* .sidebar {
  min-width: 22vw;
  float: left;
  margin: 0 !important;
  padding: 0 !important;
}

.left {
  width: 14%;
  height: 100vh;
  float: left;
  background: var(--atlassian-blue);
  padding: 0 6px 0 5px;
}

.wpbtn {
  width: 100%;
  border: none !important;
  margin-top: 5px;
}

.right {
  width: 86%;
  height: 100vh;
  margin-left: 200px;
  box-shadow: none !important;
  position: unset !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
} */

.sidebar {
  width: auto !important;
  float: left;
  margin: 0 !important;
  padding: 0 !important;
}

.left {
  width: 3vw;
  height: 100vh;
  float: left;
  background: var(--atlassian-blue);
  padding: 0 6px 0 5px;
}

.wpbtn {
  width: 100%;
  border: none !important;
  margin-top: 5px;
}

.right {
  min-width: 19vw !important;
  height: 100vh;
  margin-left: 200px;
  box-shadow: none !important;
  position: unset !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}
