/* .sidebar {
  width: auto !important;
  float: left;
  margin: 0 !important;
  padding: 0 !important;
}

.left {
  width: 3vw;
  height: 100vh;
  float: left;
  background: var(--atlassian-blue);
  padding: 0 6px 0 5px;
}

.wpbtn {
  width: 100%;
  border: none !important;
  margin-top: 5px;
}

.right {
  min-width: 19vw !important;
  height: 100vh;
  margin-left: 200px;
  box-shadow: none !important;
  position: unset !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
} */


.sidebar {
  width: auto !important;
  float: left;
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100%;
  max-height: 100%;
}

.left {
  min-width: 50px !important;
  max-width: 50px !important;
  min-height: 100% !important;
  height: 100% !important;
  /* max-height: 100vh; */
  float: left;
  background: var(--atlassian-blue);
  padding: 0 6px 0 5px;
}

.wpbtn {
  width: 100%;
  border: none !important;
  margin-top: 5px;
}

.right {
  min-width: 19vw !important;
  max-width: 19vw !important;
  min-height: 100%;
  /* min-height: 100vh !important; */
  /* max-height: auto !important; */
  margin-left: 200px;
  box-shadow: none !important;
  position: unset !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}
