.--viewcardmodal-modal {
    padding: 0 250px 0;
}

.--viewcardmodal-modal-body {
    display: flex;
    min-height: 50vh;
    max-height: 70vh;
}

.modal-body-left {
    flex: 0.7;
}

.modal-body-right {
    flex: 0.3;
}